@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1664760825985') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qita:before {
  content: "\f0141";
}

.icon-fanhui:before {
  content: "\e608";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-fenlei-copy:before {
  content: "\e64e";
}

.icon-bianjishuru-xianxing:before {
  content: "\e8cc";
}

.icon-fenlei:before {
  content: "\e611";
}

.icon-wode-xian:before {
  content: "\e60f";
}

.icon-biaoqianA01_shouye-16:before {
  content: "\ea9a";
}

.icon-biaoqianA01_gouwuche-59:before {
  content: "\eab2";
}

.icon-biaoqianA01_wode-60:before {
  content: "\eab3";
}

.icon-fenlei1:before {
  content: "\e811";
}

